<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    
    <h1><%= spoonRec.title %></h1>
    <ul>
        <% for(let i = 0; i < spoonRec.extendedIngredients.length; i++ ) { %>
            <li><%= spoonRec.extendedIngredients[i].name %></li>
        <% } %>
    </ul>

    <h2>Summary</h2>
    <p><%= spoonRec.summary %></p>
</body>
</html>